.logo {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;

	&__web {
		color: $primary-logo-color;
	}

	&__studio--black {
		color: $secondary-logo-colr;
	}

	&__studio--white {
		color: $primary-fon-color;
	}
}
