$primary-text-color: #757575;
$title-text-color: #212121;
$primary-fon-color: #ffffff;
$secondary-fon-color: #2f303a;
$supporting-fon-color: #f5f4fa;
$primary-logo-color: #2196f3;
$secondary-logo-colr: #000000;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
